.App {
  text-align: center;
}

.productList{
  display: flex;
  text-align: center;
  background-color: white;
  width: 80%;
  margin:auto;
  justify-content: space-around;
  padding-top: 50px;
  background-color: rgb(244, 246, 248);

}
.item{
display: flex;
flex-direction: column;
justify-content: space-between;
margin:20px;


}
h1{
  color:black ;
  font-size: 100px;
}